<h2> New Material </h2>

<%= form_for @material do |f| %>
	<%= f.label :title %>
	<%= f.text_area :title %>
<br>

	<%= f.label :description %>
	<%= f.text_area :description %>
<br>

	<%= f.label :price %>
	<%= f.text_area :price %>
<br>

	<%= f.label :source %>
	<%= f.text_area :source %>
	<br>

	<%= f.submit %>

<% end %>