<h2> New Material </h2>

<%= form_for @material, html: { multipart:true } do |f| %>

	<%= f.label :title %>
	<%= f.text_area :title %>
	<br>

	<%= f.label :description %>
	<%= f.text_area :description %>
	<br>

	<%= f.label :price %>
	<%= f.text_area :price %>
	<br>

	<%= f.label :data %>
	<%= f.file_field :data %>
	<br>

	<%= f.submit %>

<% end %>