<div class="container" style="margin-top:70px;">

	<div class="panel panel-primary">

		<div class="panel-heading">
			<h3><%= @material.title %></h3>
		</div>

		<div class="panel-body">

			<div class="col-xs-3 text-left">
				<div class="page-header">
					<h3>Owner Info</h3>
				</div>
				<strong>Name:</strong> <%= @material_user.name %> <%= @material_user.surname %>
				<br>
				<strong>School:</strong> <%= @material_user.school %>
				<br>  
				<strong>Department:</strong> <%= @material_user.department %>
				<br>
				<strong>Price:</strong> <%= @material.price %>
				<br>
				<strong>Reputation:</strong> <%= @material_user.reputation %>
				<br><br>
				<% if @user_reputation_status == 2 %>
					<%= form_tag(material_path, :method => "post") do %>
						<%= submit_tag "Give Reputation", name: "user_reputation", class:'btn btn-warning' %>
					<% end %>
				<% end %>
			</div>

			<div class="col-xs-9 text-left">
				<div class="page-header">
					<h3>Material Info</h3>
				</div>
				<strong>Date: </strong><%= @material.created_at.strftime("%d/%m/%y") %>
				<br>
				<strong>Description: </strong><%= @material.description %>
				<br>
				<strong>Reputation: </strong><%= @material.reputation %>
				<br><br>

				<% if @material_reputation_status == 2 %>
					<%= form_tag(material_path, :method => "post") do %>
						<%= submit_tag "Give Reputation", name: "material_reputation", class:'btn btn-warning' %>
					<% end %>
				<% end %>
			</div>

			<div class="row">
				
			</div>

		</div>

		<div class="panel-footer">
			<% if @status == 0 %>
				<%= form_tag(material_path, :method => "post") do %>
					<%= submit_tag "Buy", name: "buy_material", class:'btn btn-info' %>
				<% end %>
			<% else %>
			 	<%= form_tag(material_path, :method => "post") do %>
					<%= link_to  "Download", @material.data.url %>
				<% end %>
			<% end %>
			
		</div>
	</div>

	<div class="panel panel-info">

		<div class="panel-heading"><h4>Comment Area</h4></div>

		<div class="panel-body">
			<% unless @status == 0 %>
				<%= form_tag(material_path, :method => "post") do %>
				 	<div class="form-group">
						<strong><h4>Write a comment</h4></strong>
						<br>
						<textarea id="comment_id" style="height: 150px; width:450px;" name="comment_text"></textarea>
	  				</div>
					<%= submit_tag "Comment", name: "comment_material", class:'btn btn-warning' %>
				<% end %>
			<% end %>

			<% @comment_users.zip(@comment_texts) do |u, t| %>
				<div class="row">
					<div class="col-xs-3 text-left">
						<div class="page-header">
							<h3>User</h3>
						</div>
						<strong>Name:</strong> <%= u.name %> <%= u.surname %>
						<br>
						<strong>School:</strong> <%= u.school %>
						<br>  
						<strong>Department:</strong> <%= u.department %>
						<br>
						<strong>Reputation:</strong> <%= u.reputation %>
					</div>

					<div class="col-xs-9 text-left">
						<div class="page-header">
							<h3>Comment</h3>
						</div>
						<strong>Date: </strong><%= t.created_at.strftime("%d/%m/%y") %><br>
						<strong>Comment: </strong><%= t.text %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="panel-footer">
			
		</div>

	</div>
	

</div>